---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="min-h-screen bg-base-200 text-center">
			<h1 class="text-5xl font-bold p-5">Press kits</h1>
			<h1 class="text-3xl font-bold p-5">Downloads</h1>
			<div class="flex items-center gap-10">
				<div class="flex-1"></div>
				<div class="flex-1 drop-shadow-lg bg-neutral rounded-lg p-4">
					<h1 class="text-xl font-bold p-5">DragonTube & DragonTube STREAM</h1>
					<p>the kit includes: Logos</p>
					<br />
					<a class="btn btn-info" href="downloads/DragonTube_Logos.zip" download>Download</a>
				</div>
				<div class="flex-1"></div>
			</div>
			<h1 class="text-3xl font-bold p-5">Permitted uses</h1>
			<h1 class="text-xl font-bold p-5">Text Names</h1>
			<p>You may use the text names;</p>
			<ul>
				<li>DragonTube</li>
				<li>DragonTube STREAM</li>
				<li>REDACTED Technologies</li>
				<li>~REDACTED~</li>
			</ul>
			<p>to mention REDACTED Technologies or any of its services</p>
			<h1 class="text-xl font-bold p-5">Logos</h1>
			<p>You may use the logos in any case aproprate, as long as you dont;</p>
			<ul>
				<li>change the logo's color</li>
				<li>change the logo's formating and layout</li>
				<li>keep the size to 1:1 ratio</li>
			</ul>
			<a class="text-xl font-bold p-5 mt-20" href="/">Home</a>
		</div>
	</main>
</Layout>